/* First Quiz */
/* div{
    border: 2px solid red;
    background-color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 5px;
    margin: 5px;
    width: 300px;
}

p{
    background-color: #EEE;
    border: inherit;
    width: 200px;
    padding: inherit;
    margin: inherit;
} */

/* second Quiz */
/* div{
    width: fit-content;
    background-color: #eee;
    color: black;
    padding: 5px;
    margin: 10px;
    text-transform: capitalize;
}

.one{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.two{
    font-family: "Cairo", sans-serif;
    font-weight: 700;
}

.three{
    font-family: "Jomhuria", serif;
    font-weight: 400;
} */

/* Third Quiz */
/* html{
    font-size: 20px;
}

div{
    
    width:400px;
    text-align: center;
    background-color: #eee;
    color: black;
    padding: 5px;
    margin: 10px;
    text-transform: capitalize;
}

.one{
    font-size: 2.5rem;
}

.two{
    font-size: 2rem;
}

.three{
    font-size: 1.5rem;
} */