/* التكليف الاول */
/* .parent .child .title {
    color: red;
}

.parent .title{
    color: blue;
}

p,.title{
    color: green;
} */

/* التكليف الثاني */
/* div{
    color: black;
    background-color: brown;
    padding: 10px ;
    max-width: 400px;
    max-height: 30px;
    margin: 5px 0;
    width: fit-content;
}

.four{
    overflow: hidden;
} */